
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    Login with GitHub<br />
    <a href="~/login">Login</a>
</body>
</html>
