@model FP.OAuth.AuthorizationServer.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    Login DDC-Cloud
    <form asp-action="index" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        Username: <input asp-for="loginData.Username" value="username" /><br />
        Password: <input asp-for="loginData.Password" value="password" /><br />
        <input type="hidden" asp-for="client_id" />
        <input type="hidden" asp-for="response_type" />
        <input type="hidden" asp-for="redirect_uri" />
        <input type="hidden" asp-for="state" />
        <input type="hidden" asp-for="scope" />
        <input type="submit" value="Login" />
        @Html.AntiForgeryToken()
    </form>
</body>
</html>
